{% extends 'base.html' %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% block content %}



    {% for field in rule %}
        <div class="row">
            {{ field.errors }}
            <div class="col-sm-2 control-label">{{ field.label_tag }}</div>
            <div class="col-sm-3 "> {{ field }}</div>
        </div>
    {% endfor %}
        {% for field in src %}
        <div class="row">
            {{ field.errors }}
            <div class="col-sm-2 control-label">{{ field.label_tag }}</div>
            <div class="col-sm-3 "> {{ field }}</div>
        </div>
    {% endfor %}
        {% for field in dst %}
        <div class="row">
            {{ field.errors }}
            <div class="col-sm-2 control-label">{{ field.label_tag }}</div>
            <div class="col-sm-3 "> {{ field }}</div>
        </div>
    {% endfor %}
        {% for field in app %}
        <div class="row">
            {{ field.errors }}
            <div class="col-sm-2 control-label">{{ field.label_tag }}</div>
            <div class="col-sm-3 "> {{ field }}</div>
        </div>
    {% endfor %}
{% endblock %}
