{% extends 'base.html' %}
{% block content %}
<form class="form-signin" role="form" method="POST">
    {% for field in form %}
        <div class="row">
            {{ field.errors }}
            <div class="col-sm-2 control-label">{{ field.label_tag }}</div>
            <div class="col-sm-3 "> {{ field }}</div>
        </div>
    {% endfor %}
            <div class="row">
            <div class="col-sm-1">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
            </div>
        </div>
{% endblock %}
